{{#md-card
  onsubmit=attrs.onsubmit
  title='Login to Inventory IO'
  buttonText='Login'}}
  <div class="row">
    {{input-field
      classNames='col s12'
      type='email'
      label='Email'}}
  </div>
  <div class="row">
    {{input-field
      classNames='col s12'
      type='password'
      label='Password'}}
  </div>
{{/md-card}}
