<div class="message them">
  <div class="avatar">
    <i class="material-icons green circle white-text">chat</i>
  </div>

  <div class="body">
    {{message.content}}
    <div class="timestamp">{{message.insertedAt}}</div>
  </div>
</div>
