{{#md-card
  onsubmit=attrs.onsubmit
  title='Register with Inventory IO'
  buttonText='Register'
  buttonDisabled=validations.messages.length}}

  <div class="row">
    {{input-field
      value=model.email
      errors=validations.attrs.model.email.messages
      classNames='col s12'
      type='email'
      label='Email'}}
  </div>

  <div class="row">
    {{input-field
      value=model.password
      errors=validations.attrs.model.password.messages
      classNames='col s12'
      type='password'
      label='Password'}}
  </div>

  <div class="row">
    {{input-field
      value=model.passwordConfirmation
      errors=validations.attrs.model.passwordConfirmation.messages
      classNames='col s12'
      type='password'
      label='Confirm Password'}}
  </div>
{{/md-card}}
