{{app-header pageTitle=model.title}}

{{#md-layout}}
  <div class="row">
    <p class="col s12 caption light m0">These are all of your assets at
      <em>{{model.title}}</em>. An asset is like a category of inventory, for example,
      say kegs are an asset of your business then each individual keg will make up
      your inventory of that asset.</p>
  </div>

  {{#md-card
    title="Assets"
    buttonText="Add Asset Type"
    onsubmit=(route-action "sendToNewCategory") }}

    <ul class="collection">
      {{#each model.categories as |category|}}
        <li class="collection-item" >
          {{#link-to "app.categories.show" category}}
            <strong>{{category.name}}</strong>
          {{/link-to}}

          <div class="secondary-content">
            {{#link-to "app.categories.show" category classNames="tooltipped" data-tooltip="View Asset"}}
              <i class="material-icons">visibility</i>
            {{/link-to}}

            {{#link-to "app.categories.edit" category classNames="ml1 tooltipped" data-tooltip="Edit Asset"}}
              <i class="material-icons">edit</i>
            {{/link-to}}

            {{#link-action
              classNames="ml1 red-text tooltipped"
              data-tooltip="Delete Asset"
              onclick=(route-action "destroyCategory" category)}}

              <i class="material-icons">remove_circle</i>
            {{/link-action}}
          </div>
        </li>
      {{else}}
        <li class="collection-item">
          <strong>You have no asset types, click 'Add Asset Type' below to begin</strong>
        </li>
      {{/each}}
    </ul>
  {{/md-card}}

{{/md-layout}}
