// Fix for Roboto font path
$roboto-font-path: '../assets/';

@import "components/color";
$primary-color: color('deep-orange', 'darken-2');

// Materialize styles
@import "materialize";

// Components
@import "components/toasts";

// View stylesheets
@import "app/index";
@import "app/room/index";


body {
  background-color: color('indigo', 'darken-1');
}

.liquid-container {
  transform: none;
  -webkit-transform: none;
}

