// Fix for Roboto font path
$roboto-font-path: '../assets/';

@import "components/color";
$primary-color: color('teal', 'darken-1');

// Bourbon
@import "bourbon";

// Materialize styles
@import "materialize";

// Config
@import "config/type";
@import "config/validation";

// Components
@import "components/toasts";
@import "components/input-composer";
@import "components/md-layout";
@import "components/md-nav";

// View stylesheets
@import "templates/app/index";
@import "templates/app/room/index";
@import "templates/index";


body {
  background-color: color('grey', 'lighten-3');
}

.liquid-container {
  transform: none;
  -webkit-transform: none;
}

// Utils
input[type='text'].short-text-field {
  height: 1.5rem;
}

.flex {
  @include display(flex);
  @include align-items(center);
}

$padding-mods: (
  p: padding,
  pt: padding-top,
  pl: padding-left,
  pb: padding-bottom,
  pr: padding-right
);

$margin-mods: (
  mt: margin-top,
  ml: margin-left,
  mb: margin-bottom,
  mr: margin-right
);

@for $i from 0 through 4 {
  @each $mod, $attr in $padding-mods {
    .#{$mod}#{$i} {
      #{$attr}: #{$i}rem !important;
    }
  }

  @each $mod, $attr in $margin-mods {
    .#{$mod}#{$i} {
      #{$attr}: #{$i}rem !important;
    }
  }
}
