language: node_js
node_js:
- '4'
sudo: false
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
cache:
  directories:
  - node_modules
before_install:
- npm config set spin false
- npm install -g bower
- bower --version
- npm install phantomjs-prebuilt
- node_modules/phantomjs-prebuilt/bin/phantomjs --version
install:
- npm install
- bower install
script:
- npm test
deploy:
  provider: heroku
  api_key:
    secure: aRDdytKGjEy5Uhn64zDDgTWs06ONmi+QPUPvNLz073IxIZsIf5keD2SOIT4h/YoET51HpA84NFX6IdR01s/xN8UrGbht7EuykjFrGphBVlAUT/2qvTSX5fJ6q+XUO2b0an7sbBBe9NdOluqjEMnt5aOcsNRZ/AEFd4fzoe4LxSVUqh5Es3zOfN/dj939mcNTGQynnpy0m+6/iWTlgnGvs5SOJbwJ+a0RjW1z83JT3lRDCfVAktdIrx3kGpKLrRouSlKbJcYdgFlbe8RdHzuLU/2VQ52nh9m7X/01Bfn+ZR3EHrvsrznkBhgku4HFPeXCA4jQx6yhx89lMmGZFsMpju/JY1q1Yqsgr7LQeiZJxbG/qG/cQR/YMA2j/dVSxBFjetgzgrFGwAQz25vt51UsHjC0tb6dOZ0qDwqjHF2GZUnfUPGzEtkzV3nrCQlf07j71oz+rMGG4zCnqDNXe3Hszb4+C/OiCoNPw7IhHL10tX247vEsFTujt47dWGco0YayPscu5GQxxWCZlMUTzkA9uIFX0dLJR9uWSiNIh3ujNsX+8Raw5lbE1VKGiYNvMY6OFhhXr9m659ZPk/47rmIEn5L2JpGb4cU6i3HBsKNvRpaBm2ST0QXW5JcVHHAJha9acBPc5WkEJnu+DzOkpj2/vlZRwc5RiheYfna8wzca1zI=
  app: powerful-castle-53372
  on:
    repo: jonlunsford/inventory-ember
