nav.padded-nav {
  padding: 0rem 2rem 0rem 22rem;
  height: auto;

  @media #{$medium-and-down} {
    padding: 2rem 1rem;
  }
}

.brand-logo,
.side-nav.fixed .brand-logo {
  @include display(flex);
  @include align-content(center);

  color: $primary-color;
  border-bottom: 3px solid $primary-color;
  padding: 0.8rem 2rem 1rem;
  text-align: center;
  font-family: Roboto-thin;
  height: auto;
  line-height: 3.8rem;
}

.brand-name {
  font-size: 3rem;
  margin-left: 1rem;
}

.side-nav-footer {
  text-align: center;
  position: fixed;
  bottom: 15vh;
  width: 100%;
}
