{{#md-layout}}
  {{#md-card title=model.title}}
    <ul class="collection">
      {{#each model.categories as |category|}}
      {{else}}
        <li class="collection-item">
          No categories yet...
        </li>
      {{/each}}
    </ul>
  {{/md-card}}

  {{#md-card
    title='Create New Category'
    buttonText='Create'
    onsubmit=(route-action 'createCategory')}}
    <div class="row">
      {{input-field value=model.newCategory.title label="Category title" classNames='col s12' errors=model.newCategory.errors}}
    </div>
  {{/md-card}}
{{/md-layout}}
